body {
    background-color: #eeeeee;
    margin: auto;
    
}
@media (min-width:100px) {
#headimg {
    width: 300px;
    display: inline-block;
    background-color: #eeeeee;
}
}
#navb {
    float: right;
    
}
#headul {
    list-style-type: none;
    
}
    
.navbar {
    display: inline-block;
    padding-right:80px;
    padding-bottom: 10px;
    height: 0px;
}

    
#hbg {
    background-color: #eeeeee;
    height: 50px;
    width: 100%;
    position: fixed;
margin-top: -20px;
padding-top: 20px;
}
.un {
    text-decoration: none;
    color: black;
}

#sear {
    margin: auto;
    text-align: center;
    
}

#sear h1 {
    padding-top: 70px;
    padding-bottom: 0px;
    margin: 0px;
}
#in {
        width: 300px;
        padding: 5px;
    }
    
#subm {
        margin: 10px;
        width: 100px;
        background-color: rgb(252, 227, 0.5);
        padding: 5px;
        border: 0px;
    }

    #fi {
        width: 40px;
        float: left;
        padding-right: 60px;
    }

    #ti {
        width: 45px;
        float: left;
        padding-right: 60px;
    }
    #bi {
        width: 45px;
        float: left;
        padding-right: 60px;
    }

    .maint {
        text-align: left;
        line-height: 10px;
        padding-bottom: 30px;
        
    }
    .maint h {
        padding-bottom: 10px;
    }
    .maint p {
     line-height: 10px;
     
     
    }
    #maincon {
        margin: auto;
        width: 800px;
    }

    #frame {
        margin: 0 auto;
        padding-left: 400px;
    }
    
.box {
    display: flex;
    flex-direction: column;
    margin: 2px;
    border: 2px solid black;
    height: 270px;
    width: 225px;
    align-content: center;
    display:inline-flex;
    padding: 0 40px;
    
}
.box ul {
    list-style-type: none;
}
.box b {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    background-color: rgb(172, 159, 159);
    display: block;
    
}
.rs {
    font-size: 25px;
    margin: 0 auto;
padding-right: 45px;
}
.box li {
    text-align: center;
    padding: 5px 0px;
}
.box button {
    line-height: 50px;
   padding: -15px -25px;
   color: black;
   background-color: rgb(218, 218, 6);
}
.box {
    margin-right: 5%;
    margin-left: 5%;
}
#box {
    padding-top: 50px;
}

footer {
    height: 15%;
    width: 100%;
    background-color: rgb(172, 159, 159);
    text-align: right;
   float: center;
text-decoration: none;
}
#foot li {
    list-style-type: none;
    display: inline-block;
    
}
.fun
{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
#foot ul {
    padding-top: 20px;
    
}
#foot p {
    padding-bottom: 10px;
    padding-right: 10px;
}
