body {
    margin: 0%;
    padding: 0%;
}

#navbar ul li {
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    background-position: static;
    
}
#navbar ul {
    float: right;
    padding: 12px 30px;
    
}
#navbar ul li a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(235, 225, 225);
    padding: 25px 10px;
}
#navbar {
    height: 85px;
    width: 100%;
    background-color: rgb(163, 50, 50);
    position: fixed;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#navbar ul li a:hover {
    background-color: rgb(106, 106, 155);
}

#welcome-section {
    width: 100%;
    height: 700px;
    border: 0%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(24, 22, 22);
}

#welcome-section #name {
    font-size: 80px;
    color: rgb(235, 225, 225);
    margin: auto auto;
    padding-top: 20%;
    text-align: center;
    
}

#welcome-section #subname {
    font-size: 50px;
    margin: auto auto;
    text-align: center;
    color: rgb(184, 58, 58);
    font-style: italic;
}


#project-tile {
    font-size: 45px;
    margin: auto auto;
    text-align: center;
    padding: 80px;
    color: rgb(235, 225, 225);
    font-style: underline;
    
}
#line {
    width: 55%;
    padding-top: 0%;
}



#propics figure figcaption{
    height: 50px;
    width: 250px;
    background-color: rgb(24, 22, 22);
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 23px;
}

#propics {
    list-style: none;
    
}
#links {
    background-color: rgb(57, 57, 117);

}
#propics li {
    display: inline;
    float: right;
padding: 0px 50px;
}
#show {
    color:aqua;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin: 0 auto;
    border: 0px;
    }
    #bottom {
        background-color: rgb(24, 22, 22);
        padding-bottom: 100px;
        padding-top: 40px;
        margin: 0px;
        border: 0px;
    }
    #bottom h1 {
        font-size: 80px;
        text-align: center;
        padding-top: 60px;
        margin: 0px;
        border: 0px;
        color: rgb(235, 225, 225);
    }
    #bottom p {
        margin: 0px;
        padding-top: 0px;
        font-size: 30px;
        text-align: center;
        color: rgb(235, 225, 225);
        padding-bottom: 80px;
    }

    #slinks li {
        display: inline;
        font-size: 30px;
    }
    #slinks li a {
        padding-right: 50px;
        padding-left: 70px;
        text-decoration: none;
        color: rgb(235, 225, 225);
    }

    #slinks ul {
        padding: 40px 0px;
    }
    #hori {
        margin: 0px;
        border-top: 5px solid rgb(184, 58, 58); 
        
    }
footer ul {
    font-size: 20px;
    color: rgb(235, 225, 225);
    list-style: none;
    display: inline;

}
footer ul li {
    float: left;
    padding-right: 100px;
    padding-left: 40px;
}
    footer {
        padding: 30px;
        background-color: rgb(24, 22, 22);
    }
    #foot {
        text-decoration: none;
        color: rgb(235, 225, 225);
    }

figure a {
 text-decoration: none;
}
#next a {
    text-decoration: none;
    color: aqua;
    
}
#sh:hover {
color: rgb(0, 255, 0);
}


#slinks li a:hover {
    color: rgb(0, 255, 0);
}