body {
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg"),
    url("db.jpg");
    
    background-blend-mode: lighten;
    background-size: 100% 100%;
    background-attachment: fixed;
}


header {
    text-align: center;
    color: white;
    padding-top:40px;
    line-height: 10px;
}

#survey-form {
    background-color: black;
    opacity: 0.9;
    width: 50%;
    margin: auto auto;
border-radius: 5px;
font-size: 20px;
}
 
form {
    color: white;
    padding: 50px 5%;
}


#name {
 height: 30px;
 width: 100%; 
border-radius: 5px;

}

#email {
    height: 30px;
 width: 100%; 
border-radius: 5px;
}

#number {
    height: 30px;
 width: 100%; 
border-radius: 5px;
}
.iblock {
    padding-bottom: 30px;
    
}

#survey {
    height: 35px;
    width: 101%; 
   border-radius: 5px; 
   
}

 .list {
    padding-bottom: 30px;
 }
 
 .iitems {
    padding-bottom: 30px;
}
 
#fav {
    height: 35px;
    width: 101%; 
   border-radius: 5px; 
}
#com {
    height: 100px;
    width: 101%; 
   border-radius: 5px; 
}
#su {
    height: 40px;
    width: 101%; 
   border-radius: 5px; 
   color: white;
   background-color: green;
   border: 0px;
}